cache/*
images/*
.vscode/*
old_files/*
.ipynb_checkpoints/*
.gitattributes
*.log
scratch*

# ignore everything in the following folders
data/**
logs/**
references/**
results/**
conf/local/**

# Jupyter Notebook
.ipynb_checkpoints



# IPython
.ipython/profile_default/history.sqlite
.ipython/profile_default/startup/README


# IntelliJ
.idea/
*.iml
out/
.idea_modules/
**/__pycache__/**

# VS Code
.vscode/

# desktop
desktop.ini

# database config
database.yaml

# logs
*.debug

# pyenv
.python-version

